<div class="bg-white w-full h-40 grid grid-cols-4 gap-2 p-3 my-2">
    <div class="w-full col-span-1 h-full flex items-center">
        <%= image_tag category.icon %>
    </div>
    <div class="col-span-3 flex flex-col justify-around">
        <div class="flex justify-between w-full">
            <span><%= category.name %> </span>
            <span>$ <%= Payment.total_amounts(category.payments)%></span>
        </div>
        <div>
        <%= category.created_at %>
        </div>
    </div>
</div>