<header class="flex justify-between items-center px-2 bg-main-100 py-5">
    <div class="w-10 text-white">
        <%= image %>
    </div>

    <div class="text-white text-3xl mr-4">
        <span><%=title%></span>
    </div>
    <div>
    </div>
</header>