<div class="overflow-hidden h-[100vh]  bg-main-100">
    <div class="sticky flex justify-end items-center top-0 h-16 w-screen z-10 ">
        <div class="flex px-4 mr-6 w-52 justify-between text-white font-bold">
            <%= link_to "Log In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
        </div>
    </div>
    <div>
    </div>
    <div class="flex justify-center items-center h-[90vh]  text-white fonts-proxima text-5xl animate-ping">
        Budget It
    </div>
</div>