<div class="overflow-hidden">
    <div class="sticky flex justify-end items-center top-0 h-16 w-screen bg-white ">
        <div class="flex px-4 mr-6 w-52 justify-between">
            <span>
                Sign in
            </span>
            <span>
                Registser
            </span>
        </div>
    </div>
    <div>
    </div>
    <div class="flex justify-center items-center h-[90vh] text-white fonts-proxima text-5xl animate-ping">
        Budget It
    </div>
</div>