<div class="w-screen h-full bg-slate-100 overflow-hidden">
<%= render 'shared/header',title:'Payments',image:'back.svg',target_link: categories_path%>
<div class="flex justify-between bg-white  p-5 text-main-300 text-2xl">
  <span>Total payments</span>
  <span>$ <%= Payment.total_amounts(@payments)%></span>
</div>
<div class="mt-5 h-4/6 overflow-scroll px-4">
  <% if @payments.empty? %>
  <p>No payments added yet</p>
  <% else %>
  <div class="bg-slate-100">
  <% @payments.each do |payment| %>
  <%= render 'shared/card_show', payment: payment %>
  <% end %>
  </div>
  <% end %>
</div>
<%= link_to new_payment_path do%>
<div class="w-screen flex justify-center sticky bottom-0 bg-main-200 p-4 hover:cursor-pointer">
  <div class=" flex justify-center items-center p-4  bg-main-200 text-white w-fit text-3xl border-2 border-white">
    <p>Add Payment</p>
  </div>
</div>
<%end%>
</div>